.idea/
.vscode/
*.swp
*.swo

__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt

.ipynb_checkpoints/

data/
*.csv
*.parquet

.prefect/

.DS_Store
Thumbs.db